
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
        @Html.Label("errMessage","Error : "+TempData["err"].ToString())
            <br/>
        @Html.ActionLink("Back",TempData["backpage"].ToString())
        }
        <br />

    </div>
</body>
</html>
